body {
    margin: 0;
}

canvas {
    width: 50%;
    height: 50%
}

.content {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

input {
    color: white;
    border-bottom: 1px solid white;
}

.ipt .active {
    color: white !important;
}

.div-warna {
    height: 150px;
}

.link {
    padding-bottom: 15px !important;
}

.btnBaru {
    color:white !important;
    width: 20%;
    height: 60px !important;
    line-height: 60px !important;
    border: 1px solid white !important;
    margin: 3% 0;
}
